.travelLogsPage {
    width: 90vw;
    margin-left: 5vw;
}

.Card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Card:hover {
    transform: scale(1.05);
}

#createLog {
    border-top: 20px #FFFFFF solid;
    border-left: 20px #FFFFFF solid;
    border-right: 20px #FFFFFF solid;
    background-color: #f9d7ba;
    border-bottom: 15px #1E90FF solid;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#createLog  h2{
    margin: 0;
    padding: 0;
}

.travelLogsPage .createForm {
    background-color: #1E90FF;
    border-top: 10px solid #f9d7ba;
    border-right: 10px solid #39a024;
    border-left: 10px solid #39a024;
    border-bottom: 10px solid #0F68D0;
    text-align: center;
}

#plusIcon:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#travelLog {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative
}

.CRUDIcons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.CRUDIcons svg:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#travelLog h3 {
    color: #1E90FF;
    margin-bottom: 10px;
}

#travelLog .tag {
    display: inline-block;
    background-color: #FFD700;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
}

.editTravelCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    background-color: #66CDAA;
    border-color: #1E6D64;
}

#travelLog.Card input,
#travelLog.Card select,
#travelLog.Card textarea {
    width: 80%;
    padding: 10px;
    margin: 2px;
    border: 2px solid #1E6D64;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-family: 'Comic Sans MS';
}

#travelLog.Card button {
    width: 20%;
    padding: 10px;
    margin: 2px;
    border: 2px solid #1E6D64;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-family: 'Comic Sans MS';
}

#travelLog.Card button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #1E6D64;
}